/*

--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS
Light: 200
Default: 300
Semi-bold: 600
Bold: 700

- LINE HEIGHTS
Default: 1
Small: 1.2
Paragraph default: 1.6
Medium: 1.5
Large: 1.8

- LETTER SPACING
-0.5px
0.75px

--- 02 COLORS

- Primary: #f3e4ce
- Secondary: #000 (default text color)
- Accents: #666 (Back to top button)
- Greys and Tints: N/A 

--- 03 SHADOWS

- box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 04 BORDER RADIUS

- Default: 9px
- Portfolio items: 10px
- Images: 5px (in responsive design)

--- 05 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 06 RESPONSIVENESS

- Breakpoints:
  - max-width: 768px (mobile)
  - min-width: 769px and max-width: 1024px (tablet)
  - min-width: 1025px (desktop)
  - Special breakpoint for devices max-width: 952px and min-height: 1126px

*/

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: block;
  background-color: #f3e4ce;
  color: #000;
}

.page-breaker {
  border-top: 0.07em solid #000;
}

h2 {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 2.4em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/noise.gif") !important;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.08;
  pointer-events: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: solid 1px #000;
  outline: none;
  color: #000;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  background-color: #f3e4ce;
  transition: all 0.3s ease-in-out;
}

#myBtn:hover {
  background-color: #666;
  color: #fff;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.page-title {
  margin: 0;
  flex-grow: 0;
}

.page-title a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  padding-left: 1em;
  color: #000;
  text-transform: uppercase;
}

.main-nav {
  text-align: right;
}

.main-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.main-nav-link {
  text-decoration: none;
  color: #000;
  margin: 10px;
  font-size: 18px;
  transition: color 0.3s;
  padding: 1em;
}

.main-nav-link:hover,
.main-nav-link:focus {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

/* MAIN SECTION */

/* MAIN INTRO SECTION */
.main-head {
  height: 80vh;
  align-items: center;
  bottom: 5%;
}

.main-intro {
  font-family: "Cormorant Garamond", serif !important;
  font-size: 3.2em;
  text-align: center;
  text-transform: uppercase;
  padding: 6em 0 0 1em;
}

/* MAIN INTERESTS SECTION */
.main-interests {
  display: flex;
  justify-content: space-between;
}

.interests-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
  padding: 0em 0 0 1em;
  font-weight: 100;
}

.interests-text {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4em;
  padding: 0em 1em 1em 0em;
}

/* MAIN ABOUT SECTION */
.main-about {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  padding: 6em 10%;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.about-img {
  flex: 0 1 40%;
  padding-right: 2em;
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-content {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.4em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.about-bio {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 1.2em;
}

.resume-section {
  margin-top: 1em;
}

.resume-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  color: #fff;
  background: #555;
  border: #000 solid 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.resume-button:hover {
  transform: translateY(-3px);
}
/* PORTFOLIO SECTION STYLING */

.portfolio-section {
  padding: 5em 2em;
  margin-bottom: 4em;
}

.portfolio-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.portfolio-item {
  width: 250px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px #000 solid;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  flex-direction: column;
  text-align: center;
}

.portfolio-item a {
  text-decoration: none;
  color: #000;
}

.portfolio-item p {
  text-align: center;
  font-size: 0.8em;
}

.portfolio-overlay:hover {
  text-decoration: underline;
}

/* EDUCATION SECTION Styling */

.main-edu {
  padding: 6em;
  min-height: auto;
}

.edu-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.gird-item {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-edu ul a {
  text-decoration: underline;
  color: #000;
}

/* EXPERIENCE SECTION Styling */
.main-exp {
  padding: 3em;
  min-height: auto;
}

.main-exp ul a {
  text-decoration: underline;
  color: #000;
}

/* SOCIAL BUTTONS SECTION Styling */

#social-platforms {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

#social-platforms a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  border-radius: 50%;
  background: #333;
  transition: background-color 0.3s, transform 0.2s ease;
}

#social-platforms a:hover {
  background: #555;
  transform: translateY(-5px);
}

#social-platforms a .fa {
  display: inline-block;
  vertical-align: middle;
}

#social-platforms a span {
  display: none;
  position: absolute;
  bottom: -30px;
  background-color: #000;
  color: #fff;
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#social-platforms a:hover span {
  display: inline-block;
  opacity: 1;
  transform: translateY(0);
}

.copyright-section {
  text-align: center;
  margin-top: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2em;
  color: #000;
}

.copyright-section p {
  margin: 0;
  padding: 10px 0;
}
